[submodule "vendor/ZF2"]
	path = vendor/ZF2
	url = https://github.com/zendframework/zf2.git
[submodule "vendor/BjyAuthorize"]
	path = vendor/BjyAuthorize
	url = https://github.com/bjyoungblood/BjyAuthorize.git
[submodule "vendor/ZfcBase"]
	path = vendor/ZfcBase
	url = https://github.com/ZF-Commons/ZfcBase.git
[submodule "vendor/ZfcUser"]
	path = vendor/ZfcUser
	url = https://github.com/ZF-Commons/ZfcUser.git
[submodule "vendor/ZfcAdmin"]
	path = vendor/ZfcAdmin
	url = https://github.com/ZF-Commons/ZfcAdmin.git
[submodule "vendor/ZFTool"]
	path = vendor/ZFTool
	url = https://github.com/zendframework/ZFTool.git
[submodule "vendor/ZendDeveloperTools"]
	path = vendor/ZendDeveloperTools
	url = git://github.com/zendframework/ZendDeveloperTools.git
[submodule "vendor/BjyProfiler"]
	path = vendor/BjyProfiler
	url = git://github.com/bjyoungblood/BjyProfiler.git
[submodule "vendor/RoleUserBridge"]
	path = vendor/RoleUserBridge
	url = git://github.com/darkmatus/roleuserbridge.git
[submodule "vendor/ZfcRbac"]
	path = vendor/ZfcRbac
	url = git://github.com/ZF-Commons/ZfcRbac.git
[submodule "vendor/ZfcUserAdmin"]
	path = vendor/ZfcUserAdmin
	url = https://github.com/Danielss89/ZfcUserAdmin.git
[submodule "vendor/ZfcTwitterBootstrap"]
	path = vendor/ZfcTwitterBootstrap
	url = git://github.com/mwillbanks/ZfcTwitterBootstrap.git
