[submodule "vendor/zf-commons/zfc-base"]
	path = vendor/zf-commons/zfc-base
	url = git://github.com/ZF-Commons/ZfcBase.git
[submodule "vendor/zf-commons/zfc-admin"]
	path = vendor/zf-commons/zfc-admin
	url = git://github.com/ZF-Commons/ZfcAdmin.git
[submodule "vendor/zf-commons/zfc-user"]
	path = vendor/zf-commons/zfc-user
	url = git://github.com/ZF-Commons/ZfcUser.git
