body {
    padding-top: 60px;
    padding-bottom: 40px;
}

div.container a.brand {
    background: url("../images/logoSmallInv.png") no-repeat scroll 0 10px transparent;
    margin-left: 0;
    padding: 8px 20px 12px 45px;
}

.navbar .nav > li > a {
    padding: 2px 7px;
}

form label {
    clear: both;
    margin-bottom: 20px;
    position: relative;
    vertical-align: baseline;
}

form label:after {
    clear: both;
    content: "";
    display: block;
}

form span {
    display: block;
    float: left;
    font-weight: 600;
    line-height: 1.5;
    padding-bottom: 5px;
    width: 200px;
    color: #252523;
}

form ul {
    color: #ff0000;
}

form li {
    list-style: none;
    margin: 0 0 10px 0;
}

form li:hover {
    background: #EEE;
}
